body{
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: medium;
    border: 2px solid;
    padding-left: 50px;
}
.main{
    margin-top: 20px;
    display: flex;
    gap: 50px;
}
.user-profile img {
    border-radius: 50%;
    border: 2px solid #000;
    width: 200px;
    height: 200px;
  }
.username{
    font-size: xx-large;
    font-weight: 500;
}
.flex-align{
    display: flex;
    align-items: center;
    gap: 5px;
}
.licon{
    height: 20px;
    width: 23px;
}
.textblack{
    color: black;
    text-decoration: none;
}
.repo{
    padding-top: 15px;
}
